/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

# Custom
/public/uploads/categories/*
!/public/uploads/categories/default.png
!/public/uploads/categories/thumb/default.png

/public/uploads/blogs/*
!/public/uploads/blogs/default.png
!/public/uploads/blogs/thumb/default.png

/public/uploads/pages/*
!/public/uploads/pages/default.png
!/public/uploads/pages/thumb/default.png

/public/uploads/sliders/*
!/public/uploads/sliders/default.png
!/public/uploads/sliders/thumb/default.png

/public/uploads/products/*
!/public/uploads/products/default.png
!/public/uploads/products/thumb/default.png

/public/uploads/lookbooks/*
!/public/uploads/lookbooks/default.png
!/public/uploads/lookbooks/thumb/default.png

/public/uploads/banks/*
!/public/uploads/banks/default.png

/public/uploads/others/*
!/public/uploads/others/default.png

/public/uploads/return-proofs/*

/public/uploads/payment-proofs/*

/public/tmp
